.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  background-color: #f0f2f5; 
  padding: 20px;
  box-sizing: border-box;
}

.login-card {
  background-color: #edeff1;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  height: 100vh;
  box-sizing: border-box;
  text-align: left; 
}

.login-card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px; 
}

.login-description {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px; 
  line-height: 1.5;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}

.input-field {
  width: 100%;
  padding: 20px 12px 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background: none;
  color: #333;
  outline: none;
}

.floating-label {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 14px;
  color: #6a0dad;
  background-color: transparent;
  padding: 0 4px;
  transition: 0.2s ease all;
  pointer-events: none;
}

/* When the input is focused, move the label up */
.input-field:focus + .floating-label {
  top: -10px;
  left: 8px;
  font-size: 12px;
  color: #6a0dad;
  background-color: #edeff1;
}

/* When the input has text (not placeholder), keep the label up */
.input-field:not(:placeholder-shown) + .floating-label {
  top: -10px;
  left: 8px;
  font-size: 12px;
  color: #6a0dad;
  background-color: #edeff1;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(204, 202, 202);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.login-button:hover {
  background-color: grey;
}
